## Exercises on pandas basics

This notebooks contains some exercises to practice the concepts learned in the notebook [01 - pandas basics](01%20-%20pandas%20basics.ipynb).

#### Instructions & suggestions

- Run the first cell below these instructions to load the data
- Each question can be answered using concepts from the notebook [01 - pandas basics](01%20-%20pandas%20basics.ipynb), no extra pandas knowledge required
- For more complex questions, you can iteratively build your solution starting from the simpler pieces 
- There are enough questions to go overtime, feel free to take some of them home

In [ ]:
import pandas as pd

clients_file = '../data/fake_shop/fake_clients.csv'
transactions_file = '../data/fake_shop/fake_transactions.csv'

clients = pd.read_csv(clients_file, parse_dates=['date_of_birth'])
transactions = pd.read_csv(transactions_file, parse_dates=['date'])

### How many different persons are listed in the clients `DataFrame`?

### How many different cities are listed in the clients `DataFrame`?

### Show only the columns `name` and `city` of the clients `DataFrame`

### Who is the youngest person in the clients `DataFrame`?

### Who are the three youngest persons in the clients `DataFrame`?

### List all clients from `Clarkechester`

### List all clients from `Clarkechester` in alphabetical order

### List all clients born between `1980` and `2000` (included)

### Add a column `age` to the clients table, which contains the age of the person in number of years

Hints:
- `datetime.today()` returns a datetime object with the current date

In [ ]:
from datetime import datetime

### What's the average age of clients from `Clarkechester`?

### List all transactions for the client with `client_id=1`

### How many different transactions are listed for the client with `client_id=1`?

### How many items (total quantity) have been bought by the client with `client_id=1`?

### Display all the products bought in the transaction with `transaction_id=1`, in descreasing order of unit price

### Display all the products bought in the transaction with `transaction_id=1`, in increasing order of total cost

### Who is the youngest client from `West Timothybury`?

### How many different dates are listed in the transactions `DataFrame`?

### List the number of clients for each city

### Display all the clients from `West Timothybury`, order by age (young-to-old)

### What's the average number of different items purchased per transaction?